.benefits-section {
    background-color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;

    @media (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }


    &__list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
    margin: 0;
    padding: 0;

    @media (min-width: 480px) {
        flex-direction: row;
    }
}

    

    &__card {
    width: 270px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    background-color: #F5F4FA;
    margin-bottom: 30px;
}

    &__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin: 0;
}

    &__paragraph {
    color: var(--color-secondary);
    line-height: 1.71;
    letter-spacing: 0.03em;
    margin: 10px 0 0 0;
}

}