.header {
    position: relative;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom: 1px solid #ececec;

    &__container {
    display: flex;
    justify-content: space-between;
    padding: 0;
    flex-grow: 1;
}

    &__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    background-color: #fff;
    list-style-type: none;

    @media (min-width: 780px){
        justify-content: center;
        gap: 93px;
        flex-grow: 0;
    }

}

    &__burger--menu {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border: 0;
    width: 40px;
    height: 40px;
    margin: 0;

    @media (min-width: 768px) {
        display: none;
    }
}

    &__burger--icon {
    fill: var(--color-pimery);
    }

    &__burger--menu:focus &__burger--icon {
    fill: var(--color-accent);
}

    &__logo {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 26px;
    line-height: 1.19;
    font-weight: 700;
    letter-spacing: 0.03em;

}

    &__logo--blue {
    color: var(--color-accent);
    text-transform: capitalize;
}

    &__logo--black {
    color: var(--color-pimery);
    text-transform: capitalize;
}

    &__nav {
    display: none;
    align-items: center;
    gap: 50px;
    list-style-type: none;
    padding: 0;
    margin: 0;

    @media (min-width: 768px) {
        display: flex;
    }
}

    &__list--link {
    position: relative;
    color: var(--color-pimery);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    transition: color 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

    &__list--link::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -33px;
    width: 100%;
    height: 4px;
    background-color: var(--color-accent);
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

    &__list--link:hover::after {
    opacity: 1;
}

    &__list--link:hover {
    color: var(--color-accent);
}

    &__list--link:focus {
    color: var(--color-accent);
}

    &__list-emphasis {
    color: var(--color-accent);
}

    &__list-emphasis::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -33px;
    width: 100%;
    height: 4px;
    background-color: var(--color-accent);
    border-radius: 2px;
    opacity: 1;
    transition: opacity 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

    &__contacts {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;

    @media (min-width: 768px) {
            display: inline;
        }

    @media (min-width: 1200px) {
            display: flex;
            align-items: center;
            gap: 50px;
        }
}

    &__contact {
    color: var(--color-secondary);
    line-height: 1.14;
    font-weight: 500;
    letter-spacing: 0.03em;
    text-decoration: none;
    transition: color 250ms, fill 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
}

    &__contact:hover {
    color: var(--color-accent);
    fill: var(--color-accent);
}

    &__contact:focus {
    color: var(--color-accent);
    fill: var(--color-accent);
}

    &__contact--position {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    @media (min-width: 768px) and (max-width: 1200px) {
    display: inline;
}

    &__contact--margin {
        margin-bottom: 10px;
    }
}

