/*hero section*/

.hero-section {
    max-width: 1600px;
    margin: 0 auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;

    height: 600px;
    padding-top: 200px;
    padding-bottom: 200px;

    &__title {
        color: #fff;
        font-size: 44px;
        line-height: 1.36;
        font-weight: 900;
        letter-spacing: 0.06em;
        text-align: center;
        text-transform: uppercase;
        max-width: 360px;
        margin-top: 0;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: 1200px) {
            max-width: 696px;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        padding: 10px 32px;
        border-radius: 4px;
        font-family: 'Roboto', sans-serif;
        background-color: var(--color-accent);
        font-size: 16px;
        font-weight: 700;
        line-height: 1.87;
        letter-spacing: 0.06em;
        color: #FFF;
        cursor: pointer;
        border: 0px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        transition: background-color 250ms, box-shadow 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__button:hover {
        background-color: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }

    &__button:focus {
        background-color: #188CE8;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
    
}

